* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#title {
    background-color: beige;
}

.recipes li a{
    font-size: 20px;
    color: goldenrod;
}

/* fried rice */


/* garlic pasta */


/* grilled shrimp */